body {
    background-color: whitesmoke;
    margin: 0;
}

h3 {
    margin-left: 20px;
}

.container {
  margin-left: 50px;
}

.kuclass {
    display: inline-block;
    margin-left: 20px;
    width: 20%;
    height: 250px;
    border: 1.5px solid gainsboro;
    background-color: white;
    vertical-align: top;
    margin-bottom: 10px;
}

.kuclass:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px gray;
    transform: scale(1.03);
}

.class-info {
    display: inline-block;
    margin: 0 0 0 10px;
}


.class-id {
    font-size: 12px;
}

.class-title {
    width:280px;
    height: 40px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 800;
    white-space: nowrap;
}

.class-info:hover {
    text-decoration: underline;
}

.class-professor {
    position: relative;
    bottom: 8px;
    font-size: 12px;
    opacity: 0.85;
}

.kuclass > .btn {
    float: right;
    position: relative;
    bottom: 5px;
    margin-left: 5px;
    right: 10px;
}

.kuclass > .btn::after {
    content: "";
    clear: both;
}

@media screen and (max-width:1024px) {
  .kuclass {
    width: 40%;
  }
}